<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue&family=Merriweather&family=Roboto&family=Sacramento&display=swap" rel="stylesheet">

/**

font-family: 'Comic Neue', cursive;
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sacramento', cursive;

hr{
  border-style: none;
  border-top: dotted 1rem;
  width: 20%;
  color: #EAF6F6;
  margin-top: 12%;
  margin-bottom: 12%;
}

**/
